@import './data';

.about-app{
    display: flex;
    width: 1080px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    h3{
        width: 100%;
        color: $c7;
    }

    p{
        text-align: justify;
        width: 80%;
        color: $c9;
    }


    @media only screen and(max-width: 1200px) {
        width: 90%;
    }
}