//Colors

$c1: #fff;
$c2:#CAF0F8;
$c3: #ADE8F4;
$c4: #90E0EF;
$c5: #48CAE4;
$c6: #00B4D8;
$c7: #0096C7;
$c8: #0077B6;
$c9: #023E8A;
$c10: #03045E;

$bs: 2px 5px 8px rgba(0,0,0,0.4); 

.back-page{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 1.5rem;
    color: $c6;

    @media only screen and(min-width: 1024px){
        left: 20px;
        top: 10px;
        font-size: 2.4rem;
    }

}


//Buttons Hover
.btn1{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: $c4;
    span{
        z-index: 2;
        position: relative;
        transition: .3s ease all;
        color: $c1;
    }
}
.btn1::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: $c8;
    position: absolute;
    z-index: 1;
    top: -100px;
    left: 0;
    transition: .3s ease-in-out all;
}
.btn1:hover::after{
    top: 0;
}

//
.btn2{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: $c8;
    span{
        z-index: 2;
        position: relative;
        transition: .3s ease all;
        color: $c1;
    }
}
.btn2::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: $c4;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 0;
    transition: .3s ease-in-out all;
}
.btn2:hover::after{
    top: 0;
}