@import './data';
.extra-info{
    display: flex;
    flex-direction: column;
    width: 90%;

    label{
        font-size: 1.2rem;
        color: $c6;
        margin: 10px 0;
    }
    input{
        padding: 5px;
        border: none;
        border-radius: 10px;
        background-color: $c2;
        color: $c8;
    }
    select{
        padding: 5px;
        border: none;
        border-radius: 10px;
        background-color: $c2;
        color: $c8;
    }
    button{
        margin-top: 15px;
        width: 180px;
        padding: 8px;
        border-radius: 10px;
        border: none;
        box-shadow: $bs;
        font-size: 1.2rem;
    }
}