@import './data';
footer{
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: $c9;
    color: $c1;

    span{
        color: $c5;
        a{
            color: $c4;
            text-decoration: none;
        }
    }
}