@import './data';

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .btn-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        margin-bottom: 50px;

        a{ 
            width: 220px;
            text-decoration: none;

            button{
                display: inline-flex;
                width: 100%;
                height: 60px;
                margin-top: 30px;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                font-size: 1rem;
                align-items: center;
                justify-content: center;
                transition: .3s ease all;
            }       
    }

    }

    /*Querys*/
    @media only screen and(max-width: 1024px) {
        width: 90%;
    }
}