@import './data';

.login{
    display: flex;
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    button{
        border: none;
        padding: 15px;
        border-radius: 15px;
        cursor: pointer;
        color: $c8;
    }
}