@import './data';

.other-users{

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    background-color: $c5;
    p{
        width: 100%;
        padding: 3px;
        color: $c1;
    }

    div{
        display: flex;
        padding: 5px 5px;
        img{
            border-radius: 50%;
            width: 35px;
            height: 35px;
            margin-right: 5px;
        }

    }



    .hide{
        display: none;
    }
}