@import './data';

.patient{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    justify-content: space-around;
    border: 3.5px solid $c2;
    margin-bottom: 15px;
    border-radius: 18px;

    p{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
        color: $c8;
    }

    button{
        border: none;
        border-left: 3px solid $c5;
        background-color: transparent;

        a{
            text-decoration: none;
            color: $c6;
        }
    }
}
