@import './data';

.patient{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    justify-content: space-around;
    background-color: $c6;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: $bs;

    p{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
        color: $c1;
        font-weight: bold;
    }

    button{
        border: none;
        border-left: 3px solid $c1;
        background-color: transparent;

        a{
            text-decoration: none;
            color: $c1;
        }
    }



    @media only screen and(min-width: 1024px){
        width: 65%;
        margin-bottom: 22px;    
        p{
            font-size: 1.5rem;
        }    
        button{    
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                font-size: 1.1rem;
            }
        }
    }
}
