@import './data';

.personal-info{
    display: flex;
    flex-direction: row;
    width: 1080px;
    flex-wrap: wrap;

    .info-header{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        h3{
            color: $c6;
            text-align: center;
        }
        img{
            border-radius: 50%;
            margin-bottom: 10px;
            width: 140px;
            height: 140px;
            margin: 15px;
        }       

    }

    article{
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .user-data{
        border-top: 2px solid $c2;
        border-bottom: 2px solid $c2;
        justify-content: space-around;
        width: 90%;
        display: flex;
        align-items: center;
        div{
            text-align: center;
        }
        p{
            color: $c8;
        }

        .user-specialty{
            background-color: $c6;
            padding: 3px;
            color: $c1;
            font-weight: bold;
            border-radius: 6px;
        }
    }

    .missing-info{
        display: flex;
        width: 50%;
        justify-content: center;
        .complete-info{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                color: $c7;
            }

            button{
                width: 180px;
                padding: 10px;
                border: none;
                border-radius: 8px;
                box-shadow: $bs;
                font-size: 1.1rem;


                span{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    svg{
                        color: $c5;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

    /*Querys*/
    @media only screen and(max-width:1200px){
        .personal-info{
            width: 90%;
            
            .info-header{
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                h3{
                    color: $c6;
                    text-align: center;
                }
                img{
                    border-radius: 50%;
                    margin-bottom: 10px;
                    width: 140px;
                    height: 140px;
                    margin: 15px;
                }       
        
            }
        
            article{
                width: 100%;
                justify-content: center;
                display: flex;
            }
            .user-data{
                border-top: 2px solid $c2;
                border-bottom: 2px solid $c2;
                justify-content: space-around;
                width: 90%;
                display: flex;
                align-items: center;
                div{
                    text-align: center;
                }
                p{
                    color: $c8;
                }
        
                .user-specialty{
                    background-color: $c6;
                    padding: 3px;
                    color: $c1;
                    font-weight: bold;
                    border-radius: 6px;
                }
            }
        
            .missing-info{
                display: flex;
                width: 50%;
                justify-content: center;
                .complete-info{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p{
                        color: $c7;
                    }
        
                    button{
                        width: 180px;
                        padding: 10px;
                        border: none;
                        border-radius: 8px;
                        box-shadow: $bs;
                        font-size: 1.1rem;
        
        
                        span{
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            svg{
                                color: $c5;
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
