@import './data';

.records-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    position: relative;

    .back-page{
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 1.5rem;
        color: $c6;
    }

    h3{
        color: $c6;
        width: 100%;
    }

    .patients-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .no-patients{
            p{
                color: $c5;
                font-size: 1.1rem;
            }
            button{
                background-color: $c7;
                padding: 8px 14px;
                border: none;
                border-radius: 8px;
                a{
                    color: $c1;
                    text-decoration: none;
                    font-size: 1.15rem;
                }
            }
        }

    }

    .search-container{
        display: flex;
        width: 60%;
        height: 30px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        background-color: $c2;
        padding: 5px;
        border-radius: 5px;

        input{
            background-color: transparent;
            border: none;
        }

        svg{
            color: $c7;
            font-size: 1.3rem;
        }
    }

    /*Querys */

    @media only screen and(min-width: 1024px){
        min-height: 100vh;
        .back-page{
            left: 20px;
            font-size:2.4rem;
        }    
        h3{
            font-size: 2.3rem;
        }
        .no-patients{
            p{
                color: $c5;
                font-size: 1.4rem;
            }
            button{
                background-color: $c7;
                padding: 12px 20px;
                border: none;
                border-radius: 8px;
                a{
                    color: $c1;
                    text-decoration: none;
                    font-size: 1.3rem;
                }
            }
        }
    
        .search-container{
            width: 40%;
            height: 40px;
            padding: 6px;
            border-radius: 10px;    
            input{
                font-size: 1.6rem;
            }
    
            svg{
                color: $c7;
                font-size: 1.6rem;
            }
        }
    }
}